// General styles

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

// Colors

$color: (
	dark: #252525,
	light: #fff,
	grey: rgb(110, 110, 110),
	blue: #207398,
);

@function color($name) {
	@return map-get($color, $name);
}

// Font-Family

$font-normal: "Poppins", sans-serif;
$font-stylish: "Audiowide", cursive;

// Font-Size

$fontSize: (
	1: 0.7rem,
	2: 1.2rem,
	3: 1.5rem,
	4: 3.4rem,
	5: 6rem,
);

@function fontSize($type) {
	@return map-get($fontSize, $type);
}

// Media-Queries

@mixin media-md {
	@media (min-width: 626px) {
		@content;
	}
}
@mixin media-lg {
	@media (min-width: 1024px) {
		@content;
	}
}
