@import "config";

body {
	background-color: color(dark);
	font-family: $font-normal;
	color: color(light);
}

.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1.5rem;

	header {
		h1 {
			font-size: fontSize(3);
			letter-spacing: 2px;
		}
	}

	.container__clock {
		height: 70px;
		width: 250px;
		background-color: color(blue);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;

		.time {
			font-size: fontSize(3);
			letter-spacing: 1px;
			font-family: $font-stylish;

			// .am-pm {
			// 	font-size: fontSize(small);
			// }
		}
	}

	footer {
		height: 20vh;
		width: 100%;
		font-family: $font-normal;
		font-size: fontSize(1);
		text-align: center;
		letter-spacing: 1.5px;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			text-decoration: none;
			color: color(light);
			transition: all 0.2s ease-in-out;

			&:hover {
				color: color(blue);
			}
		}
	}

	.choose-clock {
		a {
			color: color(blue);
			letter-spacing: 1px;
		}
	}
}

@import "responsive";
